---
import Layout from "../layouts/Base.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import Section from "../components/Section.astro";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import TableList from "../components/TableList.astro";
import ProjectsShort from "../components/ProjectsShort.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Section>
    <H1>Hello, I'm Bradley</H1>
    <Image
      src="https://bradley-dettmer.s3.us-east-2.amazonaws.com/bradley_copy.JPEG"
      alt="Bradley Dettmer in the forrest wearing a blue shirt"
      class="image-transition"
      inferSize={true}
    />

    <p>
      I am a creative and collaborative Software Engineer and hacker in New York City.
      Previously, I have worked as an engineer at Peloton, Hustle, Google and Apple.
    </p>
  </Section>

  <Section>
    <H2>Current projects</H2>
    <p>
      Below are some of my current projects. <a
        href="projects/"
        class="text-green-400 dark:text-green-400 hover:underline"
        aria-label="Goes to Projects section of this site"
        >You can find more of my projects here</a
      >.
    </p>
    <ProjectsShort />
  </Section>

  <Section>
    <H2>Technical Skills</H2>
    <p>
      My typical tech stack consists of Python, React (TypeScript), Kotlin, AWS and
      PostgreSQL. Below is a list of some of the languages, frameworks, and
      technology I've worked with:
    </p>
    <TableList
      list={[
        {
          category: "Languages",
          items: "TypeScript, Python, Kotlin, Java, JavaScript, Bash, Ruby, Go, Objective-C, Swift, Rust, YAML, SQL, CSS"
        },
        {
          category: "Frameworks & Libraries",
          items: "React, Next.js, Express.js, Astro, TailwindCSS, Next.js, Vercel, Flask, Celery, marshmallow, SAM, Zustand, PeerJS, WebRTC, Kubernetes, Chef, Github Actions, Jenkins, Argo, WebSockets, SQLAlchemy, Alembic"
        },
        {
          category: "Databases & Infrastructure",
          items:
            "Google Cloud, Docker, Supabase, AWS, Terraform, Kafka, Elasticsearch, PostgreSQL, kustomize, mongo, redis, Digital Ocean, k8s, Github Actions",
        },
      ]}
    />
  </Section>
</Layout>
