---
import Layout from "../layouts/Base.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import Section from "../components/Section.astro";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import H3 from "../components/H3.astro";
import Card from "../components/Card.astro";
import TableList from "../components/TableList.astro";
import CardListItem from "../components/CardListItem.astro";
import CardListWrapper from "../components/CardListWrapper.astro";
import ResumeSection from "../components/ResumeSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import sampleImage from "../assets/skogafoss.jpg";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Section>
    <H1>About</H1>
    <Image
      src={sampleImage}
      alt="Skógafoss"
      class="rounded-md grayscale hover:grayscale-0 duration-200 ease-in-out border-t border-stone-700/0 hover:border-stone-700 hover:shadow-md rounded-sm my-4"
    />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci culpa
      blanditiis commodi quis. Facilis necessitatibus, maiores corporis ipsum
      quisquam nulla officiis sapiente? Hic deleniti soluta fugiat voluptates
      cum animi eius.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
      consequatur perferendis culpa, iste illum quisquam cumque modi dignissimos
      ex amet deleniti alias libero. Dolores dolor esse, numquam quia similique
      dolorum.
    </p>

    <H2>Velit praesentium </H2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae numquam
      fugit veniam. Minima eveniet aperiam et necessitatibus, obcaecati tempora.
      Eum, numquam. Nulla ipsam aperiam tempora. Fugiat earum aperiam tempore
      porro?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
      consectetur eligendi voluptatem quia iure ut error accusamus laboriosam,
      sequi veniam, quos veritatis culpa. Facilis dolor natus, quasi corrupti
      quis ratione.
    </p>
    <H3>Amet consectetur</H3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptatibus
      modi sed iste accusamus illo atque rem accusantium dignissimos,
      consequuntur in quidem impedit. Quis, incidunt atque ad enim accusamus
      nisi.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
      doloremque facilis ex sit vel repellendus dolorem asperiores? Est
      perferendis cum, pariatur quaerat necessitatibus odio, accusantium eius
      inventore, vitae laboriosam nobis.
    </p>
  </Section>
  <Section>
    <H2>Magni fugit</H2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
      inventore nam corporis reiciendis ipsum? Laudantium nemo delectus
      repellendus quisquam, enim, corporis, voluptates alias sit magnam sequi
      illum. Amet, consequuntur quisquam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sequi fugiat
      voluptates quis a quos tenetur! Minima, magni fugit corporis perspiciatis
      dicta distinctio soluta sit. Iste nisi nemo quis quisquam!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum rem in,
      voluptate doloremque soluta tenetur laborum corporis quam voluptates
      architecto ullam autem vero maiores quos. Voluptas iure nostrum incidunt
      fuga!
    </p>
  </Section>
  <Section>
    <H2>Voluptates architecto</H2>
    <p>
      This is a section where the cards are created manually. It uses the same
      style as the other lists of cards you will find in this template but you
      can directly edit and update the content. The other card lists are
      automatcally generated from a content collection from Markdown files.
    </p>
    <CardListWrapper>
      <CardListItem>
        <Card
          title="Lorem ipsum dolor sit amet consectetur, adipisicing elit"
          body="Iste, quos labore illum nulla quas aut suscipit assumenda consequatur necessitatibus dignissimos ea perspiciatis quam corporis dolor adipisci eveniet nobis! Culpa, quod!"
          href="/"
        />
      </CardListItem>
      <CardListItem>
        <Card
          title="Ut sequi fugiat voluptates quis a quos tenetur"
          body="Illum rem in, voluptate doloremque soluta tenetur laborum corporis quam voluptates architecto ullam autem vero maiores quos. "
          href="/"
        />
      </CardListItem>
      <CardListItem>
        <Card
          title="Minima, magni fugit corporis perspiciatis dicta"
          body="Voluptas iure nostrum incidunt fuga! Voluptas inventore nam corporis reiciendis ipsum?"
          href="/"
        />
      </CardListItem>
    </CardListWrapper>
  </Section>
  <Section>
    <H2>Technical Skills</H2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <TableList
      list={[
        {
          category: "Lorem",
          items: "Quisque, faucibus, ex, sapien, vitae",
        },
        {
          category: "Ipsum",
          items: "Iaculis, massa, nisl, malesuada, lacinia, integer",
        },
        { category: "Dolor", items: "Pulvinar, vivamus, fringilla, lacus" },
      ]}
    />
  </Section>

  <Section>
    <H2>Projects</H2>
    <ProjectsSection />
  </Section>

  <Section>
    <H2>Work experience</H2>
    <ResumeSection />
  </Section>
</Layout>
