---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
const baseClass =
  "px-2 py-1 rounded-sm duration-100 ease-in-out hover:bg-stone-800";
const renderClass = isActive
  ? `${baseClass} text-indigo-300 bg-stone-800`
  : `${baseClass}`;
---

<a href={href} class:list={[renderClass, { active: isActive }]} {...props}>
  <slot />
</a>

<style></style>
