---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Container from "./Container.astro";
---

<header class="backdrop-blur-lg sticky top-0 w-full flex justify-center z-1000">
  <Container>
    <div class="w-full my-4">
      <nav class="flex justify-between text-sm items-center">
        <h2 class="font-semibold text-indigo-300">
          <a href="/">{SITE_TITLE}</a>
        </h2>
        <div class="internal-links text-stone-400 flex gap-1">
          <HeaderLink href="/">Home</HeaderLink>
          <HeaderLink href="/work">Work</HeaderLink>
          <HeaderLink href="/projects">Projects</HeaderLink>
          <HeaderLink href="/blog">Blog</HeaderLink>
        </div>
      </nav>
    </div>
  </Container>
</header>

<style></style>
