---
type Props = {
  href: string;
  iconClass: string;
  text: string;
  ariaLabel: string;
};

const { href, iconClass, text, ariaLabel } = Astro.props;
---

<a
  href={href}
  target="_blank"
  aria-label={ariaLabel}
  class="flex items-center gap-2 w-fit text-green-600 bg-green-50 hover:bg-green-400/100 hover:text-white hover:dark:text-green-400 dark:text-green-400 dark:bg-green-900/25 hover:dark:bg-green-900/50 px-2 py-1 rounded-md text-sm duration-200 ease-in-out">
  <i class={iconClass}></i>
  {text}
</a>
